.collapse {
    display: flex;
    flex-direction: column;
}

.collapse__title {
    background-color: #FF6060;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collapse__title h2 {
    color: #FFFFFF;
    font-size: 24px;
}

.btn {
    border: none;
    background-color: #FF6060;

    & :hover {
        transform: rotate(180deg);
        transition: transform 500ms ease-in-out;
    }
}

.collapse__title img {
    width: 24px;
}

.collapse__text {
    background-color: #F6F6F6;
    border-radius: 5px;
    color: #FF6060;
    font-size: 18px;
    padding: 15px 20px;
}