$gray: #F6F6F6;
$red: #FF6060;
$white: #FFFFFF;
$black: #0000;

.logement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: $red;
    padding-bottom: 30px;
}

.containerStyles {
    width: 100%;
    height: 415px
}

.logement__presentation {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title__tags {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.logement__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logement__title h2 {
    font-size: 36px;
}

.logement__title h3 {
    font-size: 18px;
}

.rating__host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.logement__host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.logement__host img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
}

.rating {
    display: flex;
    justify-content: flex-end;
}

.tags__groupe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.logement--tagsIndiv {
    background-color: $red;
    color: $white;
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 10px;
    width: 150px;
    height: fit-content;
    text-align: center;
}

.logement__informations {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 70px;
}

.logement__informations button {
    border: none;
    background-color: $red;
    border-radius: 10px;
}

.logement__informations--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $red;
    border-radius: 10px;
    padding: 10px;
}

.logement__informations img {
    width: 24px;
    height: auto;
}

.logement__informations h2 {
    color: $white;
    font-size: 18px;
}

.logement__text {
    background-color: $gray;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 20px;
}

.logement__description,
.logement__equipements {
    width: inherit;
}

.logement__equipements__list {
    list-style-type: none;
    padding-left: 0;
}

.loading {
    background-color: white
}

@media screen and (max-width: 850px) {
    .containerStyles {
        height: 255px;
    }

    .logement__presentation {
        flex-direction: column;
    }

    .title__tags {
        flex-direction: column;
        gap: 15px;
    }

    .logement__title {
        gap: 10px;
    }

    .logement__title h2 {
        font-size: 18px;
    }

    .logement__title h3 {
        font-size: 14px;
    }

    .logement--tagsIndiv {
        font-size: 10px;
        width: 84px;
        border-radius: 5px;
    }

    .rating__host {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .logement__host {
        text-align: end;
        font-size: 12px;
        width: 100px;
        gap: 10px;
    }

    .logement__host img {
        width: 32px;
        height: 32px;
    }

    .logement__informations {
        flex-direction: column;
        gap: 20px;
    }

    .logement__informations h2 {
        font-size: 13px;
    }

    .logement__informations img {
        width: 16px;
    }

}