.slider {
    height: 100%;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
}

.vector__left,
.vector__right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    cursor: pointer;
}

.vector__left {
    left: 32px;
}

.vector__right {
    right: 32px;
}

.vector__left img,
.vector__right img {
    width: auto;
}

.number__container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 1;
}

.number__style {
    color: white;
    font-size: 18px;
}

@media screen and (max-width: 850px) {
    .vector__left {
        left: 15px;
    }

    .vector__right {
        right: 15px;
    }

    .vector__left img,
    .vector__right img {
        width: 20px;
    }

    .number__container {
        display: none;
    }
}