$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$white: #FFFFFF;
$black: #0000;
$size: 3vh;
$anim-dur: 500ms;
$num-bar: 10;
$anim-delay: $anim-dur / $num-bar;

@keyframes bars {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
}

.load {
    width: $size*10;
    height: $size*2;
    display: flex;
    justify-content: space-evenly;

    &__bar {
        width: $size/2;
        height: 100%;
        background-color: $primary-color;
        animation: bars $anim-dur backwards infinite alternate ease-in-out;

        @for $i from 1 through $num-bar {
            &--#{$i} {
                animation-delay: $anim-delay*$i;
            }
        }
    }
}