$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$white: #FFFFFF;
$black: #0000;

* {
  margin: 0;
}

body {
  margin: 45px 100px 0px 100px;
  font-family: Montserrat,
    sans-serif;

  @media screen and (max-width: 850px) {
    margin: 20px 20px 0px 20px;
  }
}

h1,
h2,
h3 {
  font-weight: 500;

  @media screen and (max-width: 850px) {
    font-weight: 400;
  }
}