.error {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 139px;

    &__h1 {
        font-size: 288px;
    }

    &__h2 {
        font-size: 36px;
    }

    &__link {
        color: #FF6060;
    }
}

.error__link:visited {
    color: #FF6060;
}

@media screen and (max-width: 850px) {
    .error {
        gap: 113px;
        padding: 50px 0px;

        &__h1 {
            font-size: 96px;
            font-weight: bold;
        }

        &__h2 {
            font-size: 18px;
            text-align: center;
            margin: 0px 55px;
        }

        &__link {
            font-size: 14px;
        }
    }
}