.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.non-active {
    color: #FF6060;
    text-decoration: none;
    margin-left: 57px;
}

.active {
    color: #FF6060;
    text-decoration: underline;
    margin-left: 57px;
}

.navbar__logo img {
    width: 200px;
}

@media screen and (max-width: 850px) {
    .navbar__logo img {
        width: 145px;
    }

    .navbar__navlink {
        font-size: 12px;
    }

    .active,
    .non-active {
        margin-left: 20px;
    }
}